#abm-body {
    background: black;

    width: 90vw;
    height: 100vh;

    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 576px) {
    #abm-body {
        height: 100vh;
    }
}

#abm-sign {
    height: 25vmax;
    rotate: -5deg;
    margin-top: 15vh;
    margin-left: 13vw;
    position: absolute;
}

@media only screen and (max-width: 576px) {
    #abm-sign {
        rotate: none;
        margin-left: -4vh;
        height: 25vh;
    }
}

#abm-main {
    z-index: 1;
    position: relative;

    display: flex;
    flex-direction: row;
}

#abm-left-part {
    /* width: 50vw; */
    width: 45vw;
    height: inherit;

    color: white;

    display: flex;
    flex-direction: column;
}

#abm-right-part {
    width: 45vw;
    height: inherit;

    color: white;

    display: flex;
    align-items: center;
    justify-content: end;
}

#abm-left-top-cnt {
    padding-top: 3vh;

    height: 16%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

@media only screen and (max-width: 576px) {
    #abm-left-top-cnt {
        height: 13vh;
    }
}

#abm-left-bottom-cnt {
    height: 80%;

    padding-top: 8vh;

    display: flex;
    flex-direction: column;

    /*border: 1px solid white;*/
}

#abm-main-text-cnt {
    /*border: 1px solid white;*/
    height: max-content;

    display: flex;
    flex-direction: column;


    h1 {
        margin-top: 7vh;
        font-size: 15vmin;
    }

    p {
        margin-top: 10vh;
        font-size: 4.5vmin;
        width: 45vmin;
    }
}

@media only screen and (max-width: 576px) {
    #abm-main-text-cnt {
        h1 {
            margin-top: 13vh;
            font-size: 23vmin;
        }

        p {
            margin-top: 7vh;
            font-size: 7vmin;
        }
    }
}

#abm-skills-btn {
    margin-top: 10vh;
    height: 9vmin;
    width: 30vmin;
}

@media only screen and (max-width: 576px) {
    #abm-skills-btn {
        margin-top: 7vmin;
        height: 14vmin;
        width: 60vw;
    }
}

#abm-me-img {
    height: 90%;
}
@media only screen and (min-width: 576px) and (max-width: 1024px) {
    #abm-me-img {
        height: 70%;    
    }
}

@media only screen and (max-width: 576px) {
    #abm-me-img {
        display: none;
    }
}