.btn-cnt {
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: border 0.2s, color 0.2s;

    height: 7vh;
    width: 15vw;

    font-size: 125%;
}

@media only screen and (max-width: 1024px) {
    .btn-cnt { 
        height: 10vh;
    }
}

.btn-cnt p {
    text-align: center;
}

.btn-cnt:hover {
    border: 1px solid #96e2f8;
}