.tcc-cnt {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30vw;
}
.tcc-key {
    font-size: 1.1rem;
}
.tcc-value {
    font-size: 1.2rem;
    width: inherit;
    cursor: pointer;
    transition: color 0.2s;
}
.tcc-value:hover {
    color: #96e2f8;
}

@media only screen and (max-width: 768px) {
    .tcc-cnt {
        align-items: center;
        width: 70vw; 
    }
}
/* .tcc-value::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 0.2s ease;
}
.tcc-value::after:hover {
    width: 100%;
} */