.text-card-cnt {
    background: #282E38;
    border: 1px solid #282E38;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    height: max-content;
    width: 33vw;

    padding: 3vh 3vw;

    line-height: 1.5;
    cursor: default;
    
    transition: transform 0.2s;

    h1 {
        font-size: 3vmax;
        color: #96e2f8;
        height: max-content;
    }    

    p {
        text-align: left;
        font-size: 1.3vmax;
    }

    img {
        height: 15vh;
    }

}

.text-card-cnt > * {
    padding: 3vh 0;
}

@media only screen and (max-width: 576px) {
    .text-card-cnt {
        min-height: 60vh;
        max-height: max-content;
        width: 80vw;

        padding: 3vh 10vw;

        h1 {
            font-size: 10vmin;
        }

        p {
            width: 90%;
            font-size: 2.2vh;
        }

        .btn-cnt {
            height: 7vh;
            width: 75%;
        }
        
        img {
            height: 10vh;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .text-card-cnt {
        min-height: 60vh;
        max-height: max-content;
        width: 80vw;

        h1 {
            font-size: 7vmax;
        }

        .btn-cnt {
            height: 8vh;
            width: 50%;
        }
    }
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .text-card-cnt {
        p {
            width: 70%;
            font-size: 2.3vmax
        }
    }
}

.text-block-cnt:hover {
    transform: translateY(-1vh);
}